<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
	</bean>
 
	<bean id="importServiceBean" class="at.ac.tuwien.qse.sepm.service.impl.ImportServiceImpl"
			destroy-method="close">
		<constructor-arg><ref bean="photoDAOBean"></ref></constructor-arg>
	</bean>
	<bean id="photoServiceBean" class="at.ac.tuwien.qse.sepm.service.impl.PhotoServiceImpl">
		<constructor-arg><ref bean="photoDAOBean"></ref></constructor-arg>
		<constructor-arg><ref bean="photoTagDAOBean"></ref></constructor-arg>
	</bean>

	<bean id="photoDAOBean" class="at.ac.tuwien.qse.sepm.dao.impl.JDBCPhotoDAO">
		<constructor-arg value="${user.home}/travelimg"></constructor-arg>
	</bean>

	<bean id="photoTagDAOBean" class="at.ac.tuwien.qse.sepm.dao.impl.JDBCPhotoTagDAO">
	</bean>
 
</beans>