
.root {

    /* CONTRAST DARK THEME */
    -tmg-bg0-dark: rgb(20, 20, 20);
    -tmg-bg0: rgb(30, 30, 30);
    -tmg-bg0-light: rgb(40, 40, 40);
    -tmg-bg1-dark: rgb(40, 40, 40);
    -tmg-bg1: rgb(50, 50, 50);
    -tmg-bg1-light: rgb(60, 60, 60);
    -tmg-bg2-dark: rgb(60, 60, 60);
    -tmg-bg2: rgb(70, 70, 70);
    -tmg-bg2-light: rgb(80, 80, 80);
    -tmg-bg3-dark: rgb(80, 80, 80);
    -tmg-bg3: rgb(90, 90, 90);
    -tmg-bg3-light: rgb(100, 100, 100);

    -tmg-text: rgba(255, 255, 255, 0.7);
    -tmg-text-light: rgba(255, 255, 255, 0.85);
    -tmg-text-bright: rgba(255, 255, 255, 1);
    -tmg-text-dark: rgba(255, 255, 255, 0.4);

    -tmg-primary: rgba(233, 30, 90, 1);
    -tmg-secondary: rgba(33, 150, 243, 1);
    -tmg-danger: #FFA726;

    -tmg-control: transparent;
    -tmg-control-hover: rgba(255, 255, 255, 0.05);
    -tmg-control-pressed: rgba(255, 255, 255, 0.1);
    -tmg-control-primary: transparent;
    -tmg-control-primary-hover: rgba(233, 30, 90, 0.08);
    -tmg-control-primary-pressed: rgba(233, 30, 90, 0.16);

    -tmg-overlay: rgba(0, 0, 0, 0.5);
    -tmg-overlay-dark: rgba(0, 0, 0, 0.75);

    -tmg-highlight: rgba(255, 255, 255, 0.5);

    -tmg-slide-tile-width: 200px;
    -tmg-slide-tile-height: 200px;

    -google-map-marker: rgb(247, 92, 87);
    -google-map-bg: rgb(233, 229, 220);


    /* DARK THEME */
    -tmg-bg0-dark: rgb(13, 13, 13);
    -tmg-bg0: rgb(20, 20, 20);
    -tmg-bg0-light: rgb(27, 27, 27);
    -tmg-bg1-dark: rgb(27, 27, 27);
    -tmg-bg1: rgb(35, 35, 35);
    -tmg-bg1-light: rgb(42, 42, 42);
    -tmg-bg2-dark: rgb(42, 42, 42);
    -tmg-bg2: rgb(50, 50, 50);
    -tmg-bg2-light: rgb(57, 57, 57);
    -tmg-bg3-dark: rgb(57, 57, 57);
    -tmg-bg3: rgb(65, 65, 65);
    -tmg-bg3-light: rgb(72, 72, 72);

    -tmg-text: rgba(255, 255, 255, 0.5);
    -tmg-text-light: rgba(255, 255, 255, 0.75);
    -tmg-text-bright: rgba(255, 255, 255, 1);
    -tmg-text-dark: rgba(255, 255, 255, 0.25);

    -tmg-primary: rgba(233, 30, 90, 1);
    -tmg-secondary: rgba(33, 150, 243, 1);
    -tmg-danger: #FFA726;

    -tmg-control: transparent;
    -tmg-control-hover: rgba(255, 255, 255, 0.05);
    -tmg-control-pressed: rgba(255, 255, 255, 0.1);
    -tmg-control-primary: transparent;
    -tmg-control-primary-hover: rgba(233, 30, 90, 0.08);
    -tmg-control-primary-pressed: rgba(233, 30, 90, 0.16);

    -tmg-overlay: rgba(0, 0, 0, 0.5);
    -tmg-overlay-dark: rgba(0, 0, 0, 0.75);

    -tmg-highlight: rgba(255, 255, 255, 0.5);

    -tmg-slide-tile-width: 200px;
    -tmg-slide-tile-height: 200px;

    -google-map-marker: rgb(247, 92, 87);
    -google-map-bg: rgb(233, 229, 220);

    /* HIGH CONTRAST DARK THEME */
    -tmg-bg0-dark: rgb(20, 20, 20);
    -tmg-bg0: rgb(35, 35, 35);
    -tmg-bg0-light: rgb(50, 50, 50);
    -tmg-bg1-dark: rgb(50, 50, 50);
    -tmg-bg1: rgb(65, 65, 65);
    -tmg-bg1-light: rgb(80, 80, 80);
    -tmg-bg2-dark: rgb(80, 80, 80);
    -tmg-bg2: rgb(95, 95, 95);
    -tmg-bg2-light: rgb(110, 110, 110);
    -tmg-bg3-dark: rgb(110, 110, 110);
    -tmg-bg3: rgb(125, 125, 125);
    -tmg-bg3-light: rgb(140, 140, 140);

    -tmg-text: rgba(255, 255, 255, 0.8);
    -tmg-text-light: rgba(255, 255, 255, 0.9);
    -tmg-text-bright: rgba(255, 255, 255, 1);
    -tmg-text-dark: rgba(255, 255, 255, 0.5);

    -tmg-primary: rgba(236, 64, 122, 1);
    -tmg-secondary: rgba(33, 150, 243, 1);
    -tmg-danger: #FFA726;

    -tmg-control: transparent;
    -tmg-control-hover: rgba(255, 255, 255, 0.08);
    -tmg-control-pressed: rgba(255, 255, 255, 0.15);
    -tmg-control-primary: transparent;
    -tmg-control-primary-hover: rgba(236, 64, 122, 0.1);
    -tmg-control-primary-pressed: rgba(236, 64, 122, 0.2);

    -tmg-overlay: rgba(0, 0, 0, 0.5);
    -tmg-overlay-dark: rgba(0, 0, 0, 0.75);

    -tmg-highlight: rgba(255, 255, 255, 0.5);

    -tmg-slide-tile-width: 150px;
    -tmg-slide-tile-height: 150px;

    -google-map-marker: rgb(247, 92, 87);
    -google-map-bg: rgb(233, 229, 220);
}

* {
    -fx-text-fill: -tmg-text;
}

.border-pane, .scroll-pane, .scroll-pane > * {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.flow-pane,
.list-view,
.list-view *,
.table-view,
.table-view * {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

/* lists */
.list-view, .list-view * {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}
.list-view {
    -fx-table-cell-border-width: 0;
    -fx-background-color: transparent;
    -fx-font-size: 16px;
}
.list-cell {
    -fx-font-size: 12px;
    -fx-padding: 8px 10px;
    -fx-background-color: transparent;
}
.list-cell:focused {
    -fx-background-color: -tmg-control-hover;
}
.list-cell:hover {
    -fx-background-color: -tmg-control-hover;
}
.list-cell:pressed {
    -fx-background-color: -tmg-control-pressed;
}
.list-cell:selected {
    -fx-background-color: -tmg-primary;
    -fx-text-fill: -tmg-text-bright;
}
.list-cell:empty {
    -fx-background-color: transparent;
}
.section {
    -fx-padding: 24px;
}

.image-grid {
    -fx-padding: 2px;
    -fx-hgap: 2px;
    -fx-vgap: 2px;
}
.image-tile {
    -fx-padding: 0;
}

.photo-tile .overlay {
    -fx-max-height: 20px;
    -fx-padding: 8px;
    -fx-opacity: 0;
}
.photo-tile:hover .overlay {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-opacity: 1.0;
}
.photo-tile.selected .overlay {
    -fx-background-color: -tmg-secondary;
    -fx-opacity: 1.0;
}
.photo-tile .overlay .glyph-icon {
    -fx-fill: #eeeeee;
    -glypy-size: 12;
}
.photo-tile .overlay .glyph-icon:hover {
    -fx-fill: white;
}
.photo-tile .overlay .date {
    -fx-text-fill: white;
    -fx-font-size: 10px;
}
.add-category {
    -fx-padding: 10px 8px;
}
.import-dialog .add .glyph-icon {
    -glyph-name: "PLUS";
}
.import-dialog .search .glyph-icon {
    -glyph-name: "FOLDER";
}
.import-dialog .note .glyph-icon {
    -glyph-name: "INFO_CIRCLE";
}

.stop .glyph-icon {
    -glyph-name: "STOP";
}
.progress-bar > .bar {
    -fx-padding: 6px;
}

.slide-grid * {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}
.slide-grid {
    -fx-background-color: -tmg-bg0;
    -fx-vgap: 32px;
    -fx-padding: 48px 48px 48px 16px;
}
.slide-grid .node {
    -fx-padding: 0 2px 0 0;
    -fx-spacing: 2px;
}
.slide-grid .divider {
    -fx-pref-width: 32px;
}
.slide-grid .divider:hover {
    -fx-background-color: -tmg-bg0-light;
}
.slide-grid .divider:pressed {
    -fx-background-color: -tmg-bg0-dark;
}
.slide-grid .divider.dropping {
    -fx-background-color: -tmg-secondary;
}
.slide-grid .divider .glyph-icon {
    -glyph-size: 16px;
    -fx-fill: transparent;
}
.slide-grid .divider:hover .glyph-icon {
    -fx-fill: -tmg-text;
}
.slide-grid .divider.dropping .glyph-icon {
    -fx-fill: -tmg-text-bright;
    -glyph-name: "ARROWS_H";
}
.slide-grid .divider:pressed .glyph-icon {
    -fx-fill: -tmg-text-light;
}
.slide-grid .tile {
    -fx-pref-height: -tmg-slide-tile-width;
    -fx-pref-width: -tmg-slide-tile-height;
    -fx-background-color: -tmg-bg1;
}
.slide-grid .tile, .slide-grid .tile * {
    -fx-max-width: -tmg-slide-tile-width;
    -fx-max-height: -tmg-slide-tile-height;
}
.slide-grid .tile .overlay {
    -fx-max-width: infinity;
    -fx-max-height: infinity;
}
.slide-grid .tile .number {
    -fx-background-color: -tmg-overlay;
    -fx-text-fill: -tmg-text-light;
    -fx-padding: 2px 5px;
    -fx-font-size: 11px;
}
.slide-grid .tile .caption {
    -fx-background-color: -tmg-overlay;
    -fx-text-fill: -tmg-text-light;
    -fx-padding: 5px;
    -fx-font-size: 11px;
    -fx-text-alignment: center;
    -fx-pref-width: -tmg-slide-tile-width;
}
.slide-grid .tile:hover {
    -fx-cursor: move;
}
.slide-grid .tile:hover .number {
    -fx-background-color: -tmg-overlay-dark;
    -fx-text-fill: -tmg-text-bright;
}
.slide-grid .tile:hover .caption {
    -fx-background-color: -tmg-overlay-dark;
    -fx-text-fill: -tmg-text-bright;
}
.slide-grid .tile.selected .border {
    -fx-border-color: -tmg-secondary;
    -fx-border-width: 3px;
    -fx-border-inset: 3px;
}
.slide-grid .tile.selected .number {
    -fx-background-color: -tmg-secondary;
    -fx-text-fill: -tmg-text-bright;
}
.slide-grid .tile.selected .caption {
    -fx-background-color: -tmg-secondary;
    -fx-text-fill: -tmg-text-bright;
}

.slide-grid .tile.photo {

}
.slide-grid .tile.title {
}
.slide-grid .tile.title .glyph-icon {
    -fx-fill: -tmg-text;
    -glyph-name: "FONT";
    -glyph-size: 50px;
}
.slide-grid .tile.map {
}
.slide-grid .tile.map .glyph-icon {
    -fx-fill: -google-map-marker;
    -glyph-name: "MAP_MARKER";
    -glyph-size: 50px;
}
.slide-grid .tile.map .image-view {
    -fx-image: url("../graphics/map.png");
}

.smart-image {
    -fx-background-color: -tmg-bg1;
    -fx-padding: 0;
}
.smart-image .progress-indicator {
    -fx-progress-color: -tmg-text-dark;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
}

.filter-list {
    -fx-padding: 8px 0 8px 0;
    -fx-background-color: -tmg-bg1;
}
.filter-list .check-item {
    -fx-padding: 4px 14px;
    -fx-font-size: 14;
}
.filter-list .check-item:hover {
    -fx-background-color: -tmg-bg1-light;
}
.filter-list .check-item:pressed {
    -fx-background-color: -tmg-bg1-dark;
}
.filter-list .check-item .label {
    -fx-padding: 0 0 0 12px;
    -fx-text-fill: -tmg-text;
}
.filter-list .check-item:hover .label {
    -fx-text-fill: -tmg-text-light;
}
.filter-list .check-item:pressed .label {
    -fx-text-fill: -tmg-text-bright;
}
.filter-list .check-item.checked .label {
    -fx-text-fill: -tmg-text-bright;
}
.filter-list .check-item.indetermined .label {
    -fx-text-fill: -tmg-text-bright;
}
.filter-list .check-item .glyph-icon {
    -glyph-size: 14px;
    -fx-fill: -tmg-bg0;
}
.filter-list .check-item.checked .glyph-icon {
    -fx-fill: -tmg-primary;
}
.filter-list .check-item.indetermined .glyph-icon {
    -fx-fill: -tmg-secondary;
}
.filter-list .header {
    -fx-background-color: -tmg-bg2;
    -fx-font-size: 16;
    -fx-padding: 8px 12px;
}
.filter-list .header .label {
    -fx-text-fill: -tmg-text;
    -fx-padding: 0 0 0 10px;
}
.filter-list .header .glyph-icon {
    -glyph-size: 20;
    -fx-fill: -tmg-bg1;
}
.filter-list .header:hover {
    -fx-background-color: -tmg-bg2-light;
}
.filter-list .header:pressed {
    -fx-background-color: -tmg-bg2-dark;
}

.tab-pane {
    -fx-padding: 0;
}
.tab-pane .tab-header-area {
    -fx-padding: 0;
}
.tab-pane .tab-header-background {
    -fx-background-color: -tmg-bg2;
    -fx-padding: 0;
}
.tab {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 24px 20px 24px 20px;
}
.tab:hover {
    -fx-background-color: -tmg-bg2-light;
}
.tab:pressed {
    -fx-background-color: -tmg-bg2-dark;
}
.tab * {
    -fx-border-width: 0;
}
.tab .tab-label {
    -fx-text-fill: -tmg-text;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
}
.tab .glyph-icon {
    -fx-fill: -tmg-text;
    -glyph-size: 30;
}
.tab:hover .glyph-icon {
    -fx-fill: -tmg-text-light;
}
.tab:selected {
    -fx-background-color: -tmg-primary;
}
.tab:selected .tab-label {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}
.tab:selected .glyph-icon {
    -fx-fill: -tmg-text-bright;
}
.tab-content-area {
    -fx-background-color: -tmg-bg0;
}

.dialog {
    -fx-background-color: -tmg-bg1;
    -fx-font-size: 16px;
}
.dialog .label {
    -fx-font-size: 14px;
    -fx-padding: 8px 0 4px 0;
    -fx-text-fill: -tmg-text;
}
.dialog .header {
    -fx-padding: 24px;
    -fx-font-size: 20px;
    -fx-background-color: -tmg-bg2;
    -fx-text-fill: white;
    -fx-background-size: 100%;
}
.dialog.error .header {
    -fx-background-color: -tmg-danger;
}
.dialog .body {
    -fx-padding: 24px;
}
.dialog .footer {
    -fx-padding: 0 24px 24px 24px;
}
.dialog .note {
    -fx-background-color: -tmg-bg2;
    -fx-padding: 16px;
}
.dialog .note .label {
    -fx-text-fill: -tmg-text-light;
}
.dialog .note .glyph-icon {
    -glyph-size: 50;
    -fx-fill: -tmg-bg1;
}

.menu, .menu * {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}
.menu {
    -fx-background-color: -tmg-bg2;
}
.menu .action {
    -fx-padding: 10px 20px;
}
.menu .action:hover {
    -fx-background-color: -tmg-bg2-light;
}
.menu .action:pressed {
    -fx-background-color: -tmg-bg2-dark;
}
.menu .action .glyph-icon {
    -fx-fill: -tmg-text;
    -glyph-size: 20px;
}
.menu .action:hover .glyph-icon {
    -fx-fill: -tmg-text-light;
}
.menu .action:pressed .glyph-icon {
    -fx-fill: -tmg-text-bright;
}
.menu .action:disabled .glyph-icon {
    -fx-fill: -tmg-text-dark;
}

.page-selector .nav-button {
    -fx-padding: 10px 20px;
}
.page-selector .nav-button .glyph-icon {
    -fx-fill: -tmg-text;
    -glyph-size: 20px;
}
.page-selector .nav-button:hover .glyph-icon {
    -fx-fill: -tmg-text-light;
}
.page-selector .nav-button:pressed .glyph-icon {
    -fx-fill: -tmg-text-bright;
}
.page-selector .nav-button:disabled .glyph-icon {
    -fx-fill: -tmg-text-dark;
}
.page-selector .page-button {
    -fx-padding: 0 3px;
}
.page-selector .page-button .glyph-icon {
    -glyph-size: 13px;
    -fx-fill: -tmg-text;
}
.page-selector .page-button:hover .glyph-icon {
    -glyph-size: 13px;
    -fx-fill: -tmg-text-light;
}
.page-selector .page-button.selected .glyph-icon {
    -fx-fill: -tmg-primary;
}

.status {
    -fx-padding: 10px 20px;
    -fx-background-color: -tmg-primary;
}
.status.progress {
    -fx-background-color: -tmg-secondary;
}
.status.error {
    -fx-background-color: -tmg-danger;
}
.status .glyph-icon {
    -glyph-size: 20;
    -fx-fill: -tmg-text-bright;
}
.status .progress {
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-progress-color: -tmg-text-bright;
}

.btn {
    -fx-background-color: transparent;
    -fx-padding: 11px 8px;
    -fx-background-radius: 3px;
    -fx-font-size: 14px;
    -fx-text-fill: -tmg-text;
    -fx-min-width: 64px;
}
.btn:hover {
    -fx-background-color: -tmg-control-hover;
    -fx-text-fill: -tmg-text-light;
}
.btn:pressed {
    -fx-background-color: -tmg-control-pressed;
    -fx-text-fill: -tmg-text-bright;
}
.btn .glyph-icon {
    -glyph-size: 20;
    -fx-fill: -tmg-text;
}
.btn:hover .glyph-icon {
    -fx-fill: -tmg-text-light;
}
.btn:pressed .glyph-icon {
    -fx-fill: -tmg-text-bright;
}
.btn.primary {
    -fx-text-fill: -tmg-primary;
    -fx-background-color: -tmg-control-primary;
}
.btn.primary:hover {
    -fx-background-color: -tmg-control-primary-hover;
}
.btn.primary:pressed {
    -fx-background-color: -tmg-control-primary-pressed;
}
.btn.primary .glyph-icon {
    -glyph-size: 20;
    -fx-fill: -tmg-primary;
}
.btn:disabled {
    -fx-text-fill: -tmg-text-dark;
}
.btn.primary:disabled {
    -fx-text-fill: -tmg-text-dark;
}

.tooltip {
    -fx-background-color: -tmg-bg3;
    -fx-text-fill: -tmg-text;
    -fx-background-radius: 0;
    -fx-font-size: 13px;
    -fx-padding: 8px 12px;
}

.inspector-pane {
    -fx-background-color: -tmg-bg1;
    -fx-pref-width: 280px;
}
.inspector-pane .placeholder {
    -fx-spacing: 16px;
    -fx-alignment: center;
}
.inspector-pane .placeholder .label {
    -fx-text-fill: -tmg-text-dark;
}
.inspector-pane .placeholder .glyph-icon {
    -fx-fill: -tmg-bg0;
    -glyph-name: "PICTURE_ALT";
    -glyph-size: 80px;
}
.inspector-pane .selection-info {
    -fx-background-color: -tmg-bg1-light;
    -fx-padding: 16px 16px;
}
.inspector-pane .selection-info .label {
    -fx-font-size: 20px;
    -fx-text-fill: -tmg-text-dark;
    -fx-alignment: center;
}
.inspector-pane.multiple .selection-info {
    -fx-background-color: -tmg-secondary;
}
.inspector-pane.multiple .selection-info .label {
    -fx-text-fill: -tmg-text-bright;
}
.inspector-pane .body {
    -fx-padding: 16px;
}

.rating-picker * {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}
.rating-picker .button {
    -fx-padding: 16px;
}
.rating-picker .button:hover {
    -fx-background-color: -tmg-bg1-light;
}
.rating-picker .button:pressed {
    -fx-background-color: -tmg-bg1-dark;
}
.rating-picker .button.selected {
    -fx-background-color: -tmg-primary;
}
.rating-picker .button .glyph-icon {
    -glyph-size: 20;
    -fx-fill: -tmg-text;
}
.rating-picker .button:hover .glyph-icon {
    -fx-fill: -tmg-text-light;
}
.rating-picker .button:pressed .glyph-icon {
    -fx-fill: -tmg-text-bright;
}
.rating-picker .button.selected .glyph-icon {
    -fx-fill: -tmg-text-bright;
}
.rating-picker.indetermined .button {
    -fx-background-color: -tmg-secondary;
}

.text-field,
.combo-box,
.date-picker {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: -tmg-text-dark;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
    -fx-font-size: 14px;
    -fx-padding: 8px 0 0 0;
    -fx-text-fill: -tmg-text-light;
}
.text-field {
    -fx-padding: 8px 0 4px 0;
}
.text-field:focused,
.combo-box:focused,
.date-picker:focused {
    -fx-border-color: -tmg-primary;
    -fx-text-fill: -tmg-text-bright;
}
.combo-box > .text-field,
.date-picker > .text-field {
    -fx-border-width: 0;
    -fx-padding: 0;
}
.combo-box .arrow-button,
.date-picker .arrow-button {
    -fx-background-color: transparent;
    -fx-text-fill: -tmg-text;
    -fx-padding: 11px 8px;
    -fx-background-radius: 3px;
    -fx-font-size: 14px;
    -fx-min-width: 64px;
    -fx-border-width: 0;
}
.combo-box .arrow-button .arrow,
.date-picker .arrow-button .arrow {
    -fx-background-color: -tmg-text;
}
.combo-box .arrow-button:hover .arrow,
.date-picker .arrow-button:hover .arrow {
    -fx-background-color: -tmg-text-light;
}
.combo-box .arrow-button:hover .pressed,
.date-picker .arrow-button:pressed .arrow {
    -fx-background-color: -tmg-text-bright;
}

.toggle-button {
    -fx-background-color: transparent;
    -fx-padding: 11px 8px;
    -fx-background-radius: 3px;
    -fx-font-size: 14px;
    -fx-text-fill: -tmg-text;
}
.toggle-button:hover {
    -fx-background-color: -tmg-bg2-light;
}
.toggle-button:focused {
    -fx-background-color: -tmg-bg2-light;
}
.toggle-button:pressed {
    -fx-background-color: -tmg-bg2-dark;
}


.tree-view * {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}
.tree-view {
    -fx-border-color: -tmg-text;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
    -fx-background-color: -tmg-bg1;
    -fx-background-radius: 0;
    -fx-font-size: 16px;
    -fx-padding: 11px 0 0 0;
}
.tree-view:focused {
    -fx-border-color: -tmg-primary;
}
.tree-view .text-input {
    -fx-padding: 0 0 4px 0;
    -fx-border-width: 0;
}
.tree-view .tree-cell {
    -fx-background-color: -tmg-bg1;
    -fx-padding: 4px 8px;
    -fx-text-fill: -tmg-text;
}
.tree-view .tree-cell:hover {
    -fx-background-color: -tmg-bg1-light;
    -fx-text-fill: -tmg-text-light;
}
.tree-view .tree-cell:selected {
    -fx-background-color: -tmg-primary;
    -fx-text-fill: -tmg-text-bright;
}
.tree-view .tree-cell .glyph-icon {
    -fx-fill: -tmg-text;
}
.tree-view .tree-cell:hover .glyph-icon {
    -fx-fill: -tmg-text-light;
}
.tree-view .tree-cell:selected .glyph-icon {
    -fx-fill: -tmg-text-bright;
}

.combo-box .combo-box-popup {
    -fx-background-color: -tmg-bg2;
    -fx-border-width: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.45), 9, 0, 0, 3);
    -fx-background-insets: 0;
    -fx-padding: 0px;
}
.combo-box .list-cell {
    -fx-padding: 0;
    -fx-padding: 6px 20px 6px 10px;
    -fx-text-fill: -tmg-text;
}
.combo-box .list-cell:hover {
    -fx-background-color: -tmg-control-hover;
}
.combo-box .list-cell:focused {
    -fx-background-color: -tmg-control-hover;
}
.combo-box .list-cell:selected {
    -fx-background-color: -tmg-control-pressed;
}

.organizer, .organizer .list-view {
    -fx-background-color: -tmg-bg1;
}

.scroll-bar, .scroll-bar * {
    -fx-background-color: transparent;
}
.scroll-bar > .thumb {
    -fx-background-color: -tmg-control-hover;
    -fx-padding: 4px;
}
.scroll-bar > .thumb:hover {
    -fx-background-color: -tmg-control-pressed;
}
.scroll-bar > .thumb:pressed {
    -fx-background-color: -tmg-control-pressed;
}

.tag-picker .list {
    -fx-spacing: 2px;
}
.tag-picker .tag {
    -fx-padding: 4px 8px 4px 4px;
    -fx-background-color: -tmg-bg1-light;
}
.tag-picker .tag .label-container {
    -fx-spacing: 16px;
}
.tag-picker .tag .label {
    -fx-text-fill: -tmg-text;
}
.tag-picker .tag .check-icon {
    -glyph-size: 20;
    -fx-fill: -tmg-bg0;
}
.tag-picker .tag.applied .check-icon {
    -fx-fill: -tmg-primary;
}
.tag-picker .tag.partial .check-icon {
    -fx-fill: -tmg-secondary;
}
.tag-picker .tag.partial .check-icon:hover {
    -glyph-name: "CHECK_SQUARE";
}
.tag-picker .tag .remove-icon {
    -fx-fill: -tmg-text;
    -glyph-size: 16px;
}
.tag-picker .tag .remove-icon:hover {
    -fx-fill: -tmg-text-light;
}
.tag-picker .tag .remove-icon:pressed {
    -fx-fill: -tmg-text-bright;
}
.tag-picker .placeholder {
    -fx-background-color: -tmg-bg1-dark;
    -fx-text-fill: -tmg-text-dark;
    -fx-padding: 5px 0 6px 0;
}

.suggestion-field {
    -fx-font-size: 14px;
}
.suggestion-field .suggestion {
    -fx-text-fill: -tmg-primary;
    -fx-cursor: hand;
}
.suggestion-field .suggestion:hover {
    -fx-underline: true;
}
.suggestion-field .label {
    -fx-font-size: 12px;
}

.key-value-cell {
    -fx-padding: 4px 8px;
    -fx-background-color: -tmg-bg1-light;
}
.key-value-cell .key {
    -fx-text-fill: -tmg-text;
}
.key-value-cell .value {
    -fx-text-fill: -tmg-text-light;
}
.key-value-cell.empty .key {
    -fx-text-fill: -tmg-text-dark;
    -fx-text-alignment: left;
}
.key-value-cell.empty .value {
    -fx-text-fill: -tmg-text-dark;
    -fx-font-style: italic;
    -fx-text-alignment: right;
}
.key-value-cell.indetermined .key {
    -fx-text-fill: -tmg-text-dark;
    -fx-text-alignment: left;
}
.key-value-cell.indetermined .value {
    -fx-text-fill: -tmg-secondary;
    -fx-font-style: italic;
    -fx-text-alignment: right;
}
.check-list-view .check-box:selected {
    -fx-padding: 0;
    -fx-background-color: -tmg-primary;
}

.imageTile .smart-image {
    -fx-background-color: rgba(255, 255, 255, 0);
}

.imageTile .glyph-icon {
    -fx-fill: -tmg-text-dark;
}

.highlights .hoverlay {
    -fx-padding: 15px;
    -fx-font-size: 25px;
    -fx-fill: -tmg-text-bright;
    -fx-background-color: -tmg-overlay;
    -fx-background-radius: 10 10 10 10;
}

.highlights HBox.hoverlay {
    -fx-spacing: 10px;
}

.highlights .hoverlay .glyph-icon {
    -fx-fill: -tmg-text-bright;
}

.highlights .hoverlay:hover {
    -fx-background-color: -tmg-overlay-dark;
}

.wikipedia {
    -fx-padding: 10 0 0 10;
    -fx-font-size: 15px;
}
.wikipedia #placeLabel {
    -fx-font-size: 25px;
}
.wikipedia #countryLabel {
    -fx-font-size: 18px;
    -fx-padding: 0 0 20 0;
}
.wikipedia #descriptionText {
    -fx-fill: -tmg-text-bright;
}
.wikipedia-placeholder {
    -fx-fill: -tmg-text-bright;
}

.journey-places-list {
    -fx-background-color: -tmg-bg1;
}

.place-radio-button *.radio  {
    -fx-padding: 4;
    -fx-background-color: -fx-shadow-highlight-color, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}

.place-radio-button {
    -fx-font-size: 15px;
}

.rect {
    -fx-fill: -tmg-primary;
}
.journey-places-list #journeyHeader {
    -fx-padding: 5 0 0 5;
}
.journey-places-list #backButton {
    -fx-background-color: transparent;
}
.journey-places-list #backButton .glyph-icon {
    -fx-fill: -tmg-text-bright;
}
.journey-places-list #journeyLabel {
    -fx-font-size: 20px;
}
.journey-places-list .journey-entry {
    -fx-background-color: transparent;
    -fx-font-size: 15px;
}
.journey-entry {
    -fx-spacing: 10px;
}

.date-picker-popup > * > .spinner > .label {
    -fx-text-fill: black;
}

.date-picker-popup > * > .date-cell {
    -fx-text-fill: black;
}
