
.root {
    -fx-overlay: rgba(0, 0, 0, 0.6);
    -fx-background: #f9f9f9;
    -fx-background-alt: #9E9E9E;
    -fx-text: #757575;
    -fx-text-muted: #BDBDBD;
    -fx-default: white;
    -fx-default-focus: #f5f5f5;
    -fx-default-hover: #eeeeee;
    -fx-default-press: #dddddd;
    -fx-default-disabled: #cccccc;
    -fx-dropshadow-1: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 5, 0, 0, 1);
    -fx-dropshadow-2: dropshadow(gaussian, rgba(0, 0, 0, 0.40), 7, 0, 0, 2);
    -fx-dropshadow-3: dropshadow(gaussian, rgba(0, 0, 0, 0.45), 9, 0, 0, 3);
    -fx-dropshadow-4: dropshadow(gaussian, rgba(0, 0, 0, 0.50), 11, 0, 0, 4);

    -fx-primary: #333333;
    -fx-primary-focus: #444444;
    -fx-primary-hover: #444444;
    -fx-primary-press: #222222;
    -fx-primary-light-focus: #F1F8E9;
    -fx-primary-light-hover: #F1F8E9;
    -fx-primary-light-press: #DCEDC8;
    -fx-danger: #FFA726;

    -fx-accent: #E91E63;
    -fx-accent-light: #EC407A;
    -fx-accent-dark: #D81B60;
}

* {
    -fx-background-insets: 0;
}

/* light button */
.button {
    -fx-background-color: transparent;
    -fx-padding: 11px 8px;
    -fx-background-radius: 3px;
    -fx-font-size: 14px;
    -fx-min-width: 48px;
}
.button:hover {
    -fx-background-color: -fx-default-hover;
}
.button:focused {
    -fx-background-color: -fx-default-focus;
}
.button:pressed {
    -fx-background-color: -fx-default-press;
}
.button .glyph-icon {
    -glyph-size: 20;
    -fx-fill: -fx-text;
}
.button.primary {
    -fx-text-fill: -fx-primary;
}
.button.primary:focused {
    -fx-background-color: -fx-primary-light-focus;
}
.button.primary:hover {
    -fx-background-color: -fx-primary-light-hover;
}
.button.primary:pressed {
    -fx-background-color: -fx-primary-light-press;
}
.button.primary .glyph-icon {
    -fx-fill: -fx-primary;
}
.button:disabled {
    -fx-opacity: 0.5;
}

/* raised button */
.button.raised {
    -fx-background-color: -fx-default;
    -fx-effect: -fx-dropshadow-1;
}
.button.raised:focused {
    -fx-background-color: -fx-default-focus;
    -fx-effect: -fx-dropshadow-3;
}
.button.raised:hover {
    -fx-background-color: -fx-default-hover;
}
.button.raised:pressed {
    -fx-effect: -fx-dropshadow-3;
    -fx-background-color: -fx-default-press;
}
.button.raised:disabled {
    -fx-effect: none;
    -fx-background-color: -fx-default-disabled;
}
.button.raised.primary {
    -fx-text-fill: white;
    -fx-background-color: -fx-primary;
}
.button.raised.primary:focused {
    -fx-background-color: -fx-primary-focus;
}
.button.raised.primary:hover {
    -fx-background-color: -fx-primary-hover;
}
.button.raised.primary:pressed {
    -fx-background-color: -fx-primary-press;
}
.button.raised.primary .glyph-icon {
    -fx-fill: white;
}

/* toggle button */
.toggle-button {
    -fx-padding: 11px 8px;
    -fx-background-radius: 3px;
    -fx-font-size: 14px;
    -fx-background-color: -fx-default;
    -fx-effect: -fx-dropshadow-1;
}
.toggle-button:focused {
    -fx-background-color: -fx-default-focus;
    -fx-effect: -fx-dropshadow-3;
}
.toggle-button:hover {
    -fx-background-color: -fx-default-hover;
}
.toggle-button:pressed {
    -fx-effect: -fx-dropshadow-3;
    -fx-background-color: -fx-default-press;
}
.toggle-button:disabled {
    -fx-effect: none;
    -fx-background-color: -fx-default-disabled;
}
.toggle-button:selected {
    -fx-background-color: -fx-primary;
}
.toggle-button:selected * {
    -fx-text-fill: white;
}

/* input fields */
.text-field {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: -fx-text;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
    -fx-font-size: 14px;
    -fx-padding: 11px 0 4px 0;
}
.text-field:focused {
    -fx-border-color: -fx-accent;
}

.combo-box {
    -fx-border-color: -fx-text;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-font-size: 16px;
    -fx-padding: 11px 0 0 0;
}
.combo-box:focused {
    -fx-border-color: -fx-accent;
}
.combo-box .text-input {
    -fx-padding: 0 0 4px 0;
    -fx-border-width: 0;
}
.combo-box .combo-box-popup {
    -fx-background-color: -fx-default;
    -fx-border-width: 0;
    -fx-effect: -fx-dropshadow-3;
    -fx-background-insets: 0;
    -fx-padding: 0px;
}
.combo-box .list-cell {
    -fx-padding: 0;
    -fx-padding: 6px 20px 6px 10px;
    -fx-text-fill: -fx-text;
}
.combo-box .list-cell:hover {
    -fx-background-color: -fx-default-hover;
}
.combo-box .list-cell:focused {
    -fx-background-color: -fx-default-focus;
}
.combo-box .list-cell:selected {
    -fx-background-color: -fx-default-press;
}
.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 11px 8px;
    -fx-background-radius: 3px;
    -fx-font-size: 14px;
    -fx-min-width: 64px;
 }
.combo-box .arrow-button:hover {
    -fx-background-color: -fx-default-hover;
}
.combo-box .arrow-button:focused {
    -fx-background-color: -fx-default-focus;
}
.combo-box .arrow-button:pressed {
    -fx-background-color: -fx-default-press;
}
.combo-box .arrow {
    -fx-background-color: -fx-text;
}
.combo-box:focused .arrow {
    -fx-background-color: -fx-primary;
}

/* lists */
.list-view, .list-view * {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}
.list-view {
    -fx-table-cell-border-width: 0;
    -fx-background-color: -fx-default;
    -fx-font-size: 16px;
}
.list-cell {
    -fx-font-size: 12px;
    -fx-padding: 8px 10px;
    -fx-background-color: transparent;
}
.list-cell:focused {
    -fx-background-color: -fx-default-focus;
}
.list-cell:hover {
    -fx-background-color: -fx-default-hover;
}
.list-cell:pressed {
    -fx-background-color: -fx-default-press;
}
.list-cell:selected {
    -fx-background-color: -fx-default-focus;
    -fx-text-fill: black;
}
.list-cell:empty {
    -fx-background-color: transparent;
}

.section {
    -fx-padding: 24px;
}

/* dialogs */
.dialog {
    -fx-background-color: -fx-background;
    -fx-font-size: 16px;
}
.dialog .label {
    -fx-font-size: 14px;
    -fx-padding: 5px 0;
}
.dialog .header {
    -fx-padding: 24px;
    -fx-font-size: 20px;
    -fx-background-color: -fx-primary;
    -fx-text-fill: white;
    -fx-background-size: 100%;
}
.dialog.error .header {
    -fx-background-color: -fx-danger;
}
.dialog .body {
    -fx-padding: 24px;
}
.dialog .footer {
    -fx-padding: 0 24px 24px 24px;
}
.dialog .note {
    -fx-background-color: -fx-background-alt;
    -fx-text-fill: white;
    -fx-padding: 16px;
    -fx-background-radius: 3px;
}
.dialog .note .glyph-icon {
    -glyph-size: 50;
    -fx-fill: white;
}

.navbar {
    -fx-background-color: -fx-primary;
}
.navbar .button {
    -fx-border-radius: 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.navbar .button:pressed {
    -fx-background-color: -fx-primary-press;
}
.navbar .button .glyph-icon {
    -fx-opacity: 0.8;
    -fx-fill: white;
    -glyph-size: 20;
}
.navbar .button:focused  .glyph-icon {
    -fx-opacity: 1.0;
}
.navbar .button:hover  .glyph-icon {
    -fx-opacity: 1.0;
}
.navbar .button:disabled {
    -fx-background-color: #1E88E5;
}
.navbar .button:disabled  .glyph-icon {
    -fx-opacity: 0.3;
}

.image-grid {
    -fx-padding: 16px;
    -fx-background-color: #dddddd;
    -fx-hgap: 16px;
    -fx-vgap: 16px;
}
.image-tile {
    -fx-background-color: #eeeeee;
    -fx-effect: -fx-dropshadow-2;
}
.image-tile.selected {
    -fx-effect: -fx-dropshadow-3;
    -fx-background-color: -fx-primary;
}
.image-tile .progress-indicator {
    -fx-progress-color: rgba(0, 0, 0, 0.3);
}
.image-tile:hover .progress-indicator {
    -fx-progress-color: rgba(0, 0, 0, 0.6);
}
.image-tile:selected .progress-indicator {
    -fx-progress-color: rgba(0, 0, 0, 0.6);
}

.photo-tile .overlay {
    -fx-max-height: 20px;
    -fx-padding: 8px;
    -fx-background-color: rgba(0, 0, 0, 0.3);
}
.photo-tile:hover .overlay {
    -fx-background-color: rgba(0, 0, 0, 0.6);
}
.photo-tile.selected .overlay {
    -fx-background-color: rgba(0, 0, 0, 0.6);
}
.photo-tile .overlay .glyph-icon {
    -fx-fill: #eeeeee;
    -glypy-size: 12;
}

.photo-tile .overlay .glyph-icon:hover {
    -fx-fill: white;
}
.photo-tile .overlay .date {
    -fx-text-fill: white;
    -fx-font-size: 10px;
}

.tooltip {
    -fx-effect: -fx-dropshadow-3;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-background-radius: 0;
    -fx-font-size: 13px;
    -fx-padding: 8px 12px;
}

.rating-picker {
    -fx-effect: -fx-dropshadow-1;
    -fx-padding: 16px;
}
.rating-picker .toggle-button {
    -fx-effect: none;
    -fx-background-radius: 0;
    -fx-pref-width: 48px;
}
.rating-picker .toggle-button.bad {
    -fx-background-radius: 3 0 0 3;
}
.rating-picker .toggle-button.good {
    -fx-background-radius: 0 3 3 0;
}
.rating-picker .toggle-button .glyph-icon {
    -glyph-size: 16;
    -fx-fill: -fx-text;
}
.rating-picker .toggle-button:selected .glyph-icon {
    -fx-fill: white;
}

.add-category {
    -fx-padding: 10px 8px;
}

.import-dialog .add .glyph-icon {
    -glyph-name: "PLUS";
}
.import-dialog .search .glyph-icon {
    -glyph-name: "FOLDER";
}
.import-dialog .note .glyph-icon {
    -glyph-name: "INFO_CIRCLE";
}

.tab-pane {
    -fx-padding: 0;
}
.tab-pane .tab-header-area {
    -fx-padding: 0;
}
.tab-pane .tab-header-background {
    -fx-background-color: -fx-primary;
    -fx-padding: 0;
}
.tab {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 24px 20px 24px 20px;
}
.tab:hover {
    -fx-background-color: -fx-primary-hover;
}
.tab:pressed {
    -fx-background-color: -fx-primary-press;
}
.tab * {
    -fx-border-width: 0;
}
.tab .tab-label {
    -fx-text-fill: rgba(255, 255, 255, 0.5);
    -fx-font-size: 14px;
    -fx-background-color: transparent;
}
.tab .glyph-icon {
    -fx-fill: rgba(255, 255, 255, 0.5);
    -glyph-size: 30;
}
.tab:selected {
    -fx-background-color: -fx-accent;
}
.tab:selected .tab-label {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}
.tab:selected .glyph-icon {
    -fx-fill: white;
}
.tab-content-area {
    -fx-background-color: -fx-background;
}

.filter-list {
    -fx-padding: 8px 0 16px 0;
}
.filter-list .check-item {
    -fx-padding: 8px 14px;
    -fx-font-size: 14;
    -fx-background-color: transparent;
}
.filter-list .check-item:hover {
    -fx-background-color: -fx-default-hover;
}
.filter-list .check-item:pressed {
    -fx-background-color: -fx-default-press;
}
.filter-list .check-item .label {
    -fx-padding: 0 0 0 12px;
}
.filter-list .check-item .glyph-icon {
    -glyph-size: 16;
    -fx-fill: -fx-primary;
}
.filter-list .check-item.checked .glyph-icon {
    -fx-fill: -fx-accent;
}
.filter-list .header {
    -fx-background-color: -fx-primary;
    -fx-font-size: 16;
    -fx-padding: 8px 12px;
}
.filter-list .header .label {
    -fx-text-fill: white;
    -fx-padding: 0 0 0 10px;
}
.filter-list .header .glyph-icon {
    -glyph-size: 20;
    -fx-fill: white;
}
.filter-list .header:hover {
    -fx-background-color: -fx-primary-hover;
}
.filter-list .header:pressed {
    -fx-background-color: -fx-primary-press;
}

